/* 
    Document   : style
    Created on : 2012-08-25, 00.28.06
    Author     : Hidro
    Description:
        Purpose of the stylesheet follows.
*/
/* News View Styling LOGO Styling  */

.details-about-button {
   margin: 0.5em ; 
   
}

.details-text {
    text-align: justify;
    margin-top:1em;
    padding-right: 1em;
    padding-left: 0.5em;
}

.details-title {
    padding-right: 1em;
    padding-left: 0.5em;
}

.details-subtitle {
    padding-right: 1em;
    padding-left: 0.5em;
}

.footer-text {
    text-align: center;
    font-size: 0.7em;

}


.header-back-img {
    border-right: 1px solid #CCC;
    height: 2.6em;
    background-size: 2.6em;
}

.header-title {

    padding-left: 1em;
}

.image-max-height img{

    max-height: 100%;
}

.image-max-width img {

    max-width: 100%;
}

/* News View Styling  */


.news-disclosure {
    padding-right: 2em;
}

.my-list-item {
    border-bottom: 1px solid #CCC;

    background-image: linear-gradient(bottom, #FFFFFF 5%, #F5F0F5 68%, #F5F0F5 69%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 5%, #F5F0F5 68%, #F5F0F5 69%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #F5F0F5 68%, #F5F0F5 69%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 5%, #F5F0F5 68%, #F5F0F5 69%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 5%, #F5F0F5 68%, #F5F0F5 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, #FFFFFF),
        color-stop(0.68, #F5F0F5),
        color-stop(0.69, #F5F0F5)
        );
}

.my-list-item .disclosure {

    -webkit-mask: 0 0 url('./css_images/disclosure_ico.png') no-repeat;
    background-image: none;
    position: absolute;
    bottom: 1.05em;
    right: 0.44em;
    height : 50px;
    width : 43px;
}


.my-list-item .disclosure-blue {


    background-color: #006BB6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0398FF), color-stop(3%, #007AD0), color-stop(100%, #005C9D));
    background-image: -webkit-linear-gradient(top, #0398FF,#007AD0 3%,#005C9D);
    background-image: linear-gradient(top, #0398FF,#007AD0 3%,#005C9D);
}

.my-list-item .disclosure-green {

    background-color: #8dc63f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3d165), color-stop(3%, #8dc63f), color-stop(100%, #709e32));
    background-image: -webkit-linear-gradient(top, #a3d165,#8dc63f 3%,#709e32);
    background-image: linear-gradient(top, #a3d165,#8dc63f 3%,#709e32);

}

.my-list-item .disclosure-pink {

    background-color: #e2126f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f15098), color-stop(3%, #ed217c), color-stop(100%, #e2126f));
    background-image: -webkit-linear-gradient(top, #f15098,#ed217c 3%,#e2126f);
    background-image: linear-gradient(top, #f15098,#ed217c 3%,#e2126f);

}

.my-list-item-selected  {

    background-color: #E92179;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7ACCD), color-stop(2%, #EC418D), color-stop(100%, #D21568));
    background-image: -webkit-linear-gradient(#F7ACCD,#EC418D 2%,#D21568);
    background-image: linear-gradient(#F7ACCD,#EC418D 2%,#D21568);
    color: white;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;

}

.my-list-item-selected .disclosure-white {

    background-color: #FFFFFF;
    background-image: none;
    ;
}

.my-list-item-text {

    padding-left: 0.5em;
    padding-right : 45px;
}

.nowrapText .x-innerhtml {
        
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

        
    }



/*  Overriding Sencha Touch */

/* disclosure Ico  */




.x-list .x-list-item:nth-child(3n+1) .x-list-disclosure{

    -webkit-mask: 0 0 url('./css_images/disclosure_ico.png') no-repeat;
      background-color: #006BB6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0398FF), color-stop(3%, #007AD0), color-stop(100%, #005C9D));
    background-image: -webkit-linear-gradient(top, #0398FF,#007AD0 3%,#005C9D);
    background-image: linear-gradient(top, #0398FF,#007AD0 3%,#005C9D);
}

.x-list .x-list-item:nth-child(3n+2) .x-list-disclosure{

    -webkit-mask: 0 0 url('./css_images/disclosure_ico.png') no-repeat;
    background-color: #8dc63f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3d165), color-stop(3%, #8dc63f), color-stop(100%, #709e32));
    background-image: -webkit-linear-gradient(top, #a3d165,#8dc63f 3%,#709e32);
    background-image: linear-gradient(top, #a3d165,#8dc63f 3%,#709e32);
}

.x-list .x-list-item:nth-child(3n+3) .x-list-disclosure{

    -webkit-mask: 0 0 url('./css_images/disclosure_ico.png') no-repeat;
    background-color: #e2126f;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f15098), color-stop(3%, #ed217c), color-stop(100%, #e2126f));
    background-image: -webkit-linear-gradient(top, #f15098,#ed217c 3%,#e2126f);
    background-image: linear-gradient(top, #f15098,#ed217c 3%,#e2126f);
}

.x-list .x-list-item.x-item-selected .x-list-disclosure {
    background-color: #FFFFFF !important;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFFFFF), color-stop(3%, #FFFFFF), color-stop(100%, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #FFFFFF,#FFFFFF 3%,#FFFFFF);
    background-image: linear-gradient(top, #FFFFFF,#FFFFFF 3%,#FFFFFF);
}



/*  White text in List element  */

.x-list .x-list-item.x-item-selected .x-list-item-label {
    color: white;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;
}

/*  Toolbar Bottom border Color  */

.x-toolbar {
padding: 0;

}

.x-toolbar-dark.x-docked-top {
    border-bottom-color: #CCC;
}